::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la scrollbar vertical */
  height: 10px;
  /* Altura de la scrollbar horizontal */
}

/* Estilo del pulgar de la scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  /* Color del pulgar */
  border-radius: 5px;
  /* Borde redondeado del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(64, 64, 64);
  /* Color del pulgar */
}

/* Estilo de la barra de track (fondo de la scrollbar) */
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  /* Color del fondo de la scrollbar */
}
