.section1 {
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    z-index: 1;
    overflow-y: hidden !important;
    border-radius: 20px;
    background-color: #F8F8F8;
}

.test {
    position: sticky;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23212121%22 stroke-width=%222%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h100v100H0zM100 0h100v100H100zM200 0h100v100H200zM300 0h100v100H300zM400 0h100v100H400zM500 0h100v100H500zM600 0h100v100H600zM700 0h100v100H700zM800 0h100v100H800zM900 0h100v100H900zM1000 0h100v100h-100zM1100 0h100v100h-100zM1200 0h100v100h-100zM1300 0h100v100h-100zM1400 0h100v100h-100zM1500 0h100v100h-100zM1600 0h100v100h-100zM1700 0h100v100h-100zM1800 0h100v100h-100zM1900 0h100v100h-100zM0 100h100v100H0zM100 100h100v100H100zM200 100h100v100H200zM300 100h100v100H300zM400 100h100v100H400zM500 100h100v100H500zM600 100h100v100H600zM700 100h100v100H700zM800 100h100v100H800zM900 100h100v100H900zM1000 100h100v100h-100zM1100 100h100v100h-100zM1200 100h100v100h-100zM1300 100h100v100h-100zM1400 100h100v100h-100zM1500 100h100v100h-100zM1600 100h100v100h-100zM1700 100h100v100h-100zM1800 100h100v100h-100zM1900 100h100v100h-100zM0 200h100v100H0zM100 200h100v100H100zM200 200h100v100H200zM300 200h100v100H300zM400 200h100v100H400zM500 200h100v100H500zM600 200h100v100H600zM700 200h100v100H700zM800 200h100v100H800zM900 200h100v100H900zM1000 200h100v100h-100zM1100 200h100v100h-100zM1200 200h100v100h-100zM1300 200h100v100h-100zM1400 200h100v100h-100zM1500 200h100v100h-100zM1600 200h100v100h-100zM1700 200h100v100h-100zM1800 200h100v100h-100zM1900 200h100v100h-100zM0 300h100v100H0zM100 300h100v100H100zM200 300h100v100H200zM300 300h100v100H300zM400 300h100v100H400zM500 300h100v100H500zM600 300h100v100H600zM700 300h100v100H700zM800 300h100v100H800zM900 300h100v100H900zM1000 300h100v100h-100zM1100 300h100v100h-100zM1200 300h100v100h-100zM1300 300h100v100h-100zM1400 300h100v100h-100zM1500 300h100v100h-100zM1600 300h100v100h-100zM1700 300h100v100h-100zM1800 300h100v100h-100zM1900 300h100v100h-100zM0 400h100v100H0zM100 400h100v100H100zM200 400h100v100H200zM300 400h100v100H300zM400 400h100v100H400zM500 400h100v100H500zM600 400h100v100H600zM700 400h100v100H700zM800 400h100v100H800zM900 400h100v100H900zM1000 400h100v100h-100zM1100 400h100v100h-100zM1200 400h100v100h-100zM1300 400h100v100h-100zM1400 400h100v100h-100zM1500 400h100v100h-100zM1600 400h100v100h-100zM1700 400h100v100h-100zM1800 400h100v100h-100zM1900 400h100v100h-100zM0 500h100v100H0zM100 500h100v100H100zM200 500h100v100H200zM300 500h100v100H300zM400 500h100v100H400zM500 500h100v100H500zM600 500h100v100H600zM700 500h100v100H700zM800 500h100v100H800zM900 500h100v100H900zM1000 500h100v100h-100zM1100 500h100v100h-100zM1200 500h100v100h-100zM1300 500h100v100h-100zM1400 500h100v100h-100zM1500 500h100v100h-100zM1600 500h100v100h-100zM1700 500h100v100h-100zM1800 500h100v100h-100zM1900 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100zM200 600h100v100H200zM300 600h100v100H300zM400 600h100v100H400zM500 600h100v100H500zM600 600h100v100H600zM700 600h100v100H700zM800 600h100v100H800zM900 600h100v100H900zM1000 600h100v100h-100zM1100 600h100v100h-100zM1200 600h100v100h-100zM1300 600h100v100h-100zM1400 600h100v100h-100zM1500 600h100v100h-100zM1600 600h100v100h-100zM1700 600h100v100h-100zM1800 600h100v100h-100zM1900 600h100v100h-100zM0 700h100v100H0zM100 700h100v100H100zM200 700h100v100H200zM300 700h100v100H300zM400 700h100v100H400zM500 700h100v100H500zM600 700h100v100H600zM700 700h100v100H700zM800 700h100v100H800zM900 700h100v100H900zM1000 700h100v100h-100zM1100 700h100v100h-100zM1200 700h100v100h-100zM1300 700h100v100h-100zM1400 700h100v100h-100zM1500 700h100v100h-100zM1600 700h100v100h-100zM1700 700h100v100h-100zM1800 700h100v100h-100zM1900 700h100v100h-100zM0 800h100v100H0zM100 800h100v100H100zM200 800h100v100H200zM300 800h100v100H300zM400 800h100v100H400zM500 800h100v100H500zM600 800h100v100H600zM700 800h100v100H700zM800 800h100v100H800zM900 800h100v100H900zM1000 800h100v100h-100zM1100 800h100v100h-100zM1200 800h100v100h-100zM1300 800h100v100h-100zM1400 800h100v100h-100zM1500 800h100v100h-100zM1600 800h100v100h-100zM1700 800h100v100h-100zM1800 800h100v100h-100zM1900 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100zM200 900h100v100H200zM300 900h100v100H300zM400 900h100v100H400zM500 900h100v100H500zM600 900h100v100H600zM700 900h100v100H700zM800 900h100v100H800zM900 900h100v100H900zM1000 900h100v100h-100zM1100 900h100v100h-100zM1200 900h100v100h-100zM1300 900h100v100h-100zM1400 900h100v100h-100zM1500 900h100v100h-100zM1600 900h100v100h-100zM1700 900h100v100h-100zM1800 900h100v100h-100zM1900 900h100v100h-100zM0 1000h100v100H0zM100 1000h100v100H100zM200 1000h100v100H200zM300 1000h100v100H300zM400 1000h100v100H400zM500 1000h100v100H500zM600 1000h100v100H600zM700 1000h100v100H700zM800 1000h100v100H800zM900 1000h100v100H900zM1000 1000h100v100h-100zM1100 1000h100v100h-100zM1200 1000h100v100h-100zM1300 1000h100v100h-100zM1400 1000h100v100h-100zM1500 1000h100v100h-100zM1600 1000h100v100h-100zM1700 1000h100v100h-100zM1800 1000h100v100h-100zM1900 1000h100v100h-100zM0 1100h100v100H0zM100 1100h100v100H100zM200 1100h100v100H200zM300 1100h100v100H300zM400 1100h100v100H400zM500 1100h100v100H500zM600 1100h100v100H600zM700 1100h100v100H700zM800 1100h100v100H800zM900 1100h100v100H900zM1000 1100h100v100h-100zM1100 1100h100v100h-100zM1200 1100h100v100h-100zM1300 1100h100v100h-100zM1400 1100h100v100h-100zM1500 1100h100v100h-100zM1600 1100h100v100h-100zM1700 1100h100v100h-100zM1800 1100h100v100h-100zM1900 1100h100v100h-100zM0 1200h100v100H0zM100 1200h100v100H100zM200 1200h100v100H200zM300 1200h100v100H300zM400 1200h100v100H400zM500 1200h100v100H500zM600 1200h100v100H600zM700 1200h100v100H700zM800 1200h100v100H800zM900 1200h100v100H900zM1000 1200h100v100h-100zM1100 1200h100v100h-100zM1200 1200h100v100h-100zM1300 1200h100v100h-100zM1400 1200h100v100h-100zM1500 1200h100v100h-100zM1600 1200h100v100h-100zM1700 1200h100v100h-100zM1800 1200h100v100h-100zM1900 1200h100v100h-100zM0 1300h100v100H0zM100 1300h100v100H100zM200 1300h100v100H200zM300 1300h100v100H300zM400 1300h100v100H400zM500 1300h100v100H500zM600 1300h100v100H600zM700 1300h100v100H700zM800 1300h100v100H800zM900 1300h100v100H900zM1000 1300h100v100h-100zM1100 1300h100v100h-100zM1200 1300h100v100h-100zM1300 1300h100v100h-100zM1400 1300h100v100h-100zM1500 1300h100v100h-100zM1600 1300h100v100h-100zM1700 1300h100v100h-100zM1800 1300h100v100h-100zM1900 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    z-index: 1;
    overflow-y: hidden !important;
    perspective: 500px;

}

/* 
.section1::-webkit-scrollbar {
    display: none;
} */

.Spline {
    background-color: rgba(255, 0, 0, 0);

}

.section1Background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
}

@media (max-width: 1200px) {
    .section1Background {
        z-index: -1;
    }

    .section1 {
        background-color: #F8F8F8;
    }

}

.leftSide {

    height: 100%;
    width: 50%;

}


.leftTop {
    margin-left: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainContainer {
    width: 100%;
    height: 70%;
}


.pictureContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -0px;
}

.img {
    height: 180px;
    width: 180px;
    margin-top: -20px;
}

.text1Container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.myName {
    background: linear-gradient(45deg, #ff0000, #ffd3a2, #6200ff, #ff0000);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 20s ease infinite;
    color: transparent;
    font-weight: 1200;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text2Container {
    width: 80%;
    height: 15%;

}

.text2RevealContainer {
    width: 100%;
    height: 60px;
    overflow: hidden;

}

.textReveal {
    width: 100%;
    height: 100%;

    animation: showText 10s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;


}

@keyframes showText {
    0%, 5% {
        transform: translateY(-0%);
    }


    10%, 35% {
        transform: translatey(-100%);
        ;
    }

    40%, 45% {
        transform: translatey(-100%);
        ;
    }

    50%, 65% {
        transform: translateY(-200%);
    }

    70%, 75% {
        transform: translatey(-200%);
        ;
    }

    80%, 95% {
        transform: translateY(0%);

    }
}

.text3Container {
    width: 100%;
    height: 20%;
    margin-top: -0px;
    display: flex;
    align-items: center;
}


.headerText1 {
    font-size: 100px;
    letter-spacing: -.024em;
    font-weight: 600;
    max-width: 600px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    color: rgb(17, 17, 17);
    margin: 0;
    /* Quitar márgenes */
    padding: 0;
}

.headerText2 {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    color: rgb(29, 29, 29);
    margin: 0;
    /* Quitar márgenes */
    padding: 0;
    line-height: 1.5;

}

.headerText2Aux {
    font-size: 38px;
    font-weight: 600;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    color: rgb(29, 29, 29);
    margin: 0;
    /* Quitar márgenes */
    padding: 0;
    line-height: 1.5;
}

.headerText3 {
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    color: rgb(129, 129, 129);
    margin: 0;
    /* Quitar márgenes */
    padding: 0;
    line-height: 1.4;

}

@media (max-width: 450px) {

    .text3Container {
        padding-top: 10px;

    }
}

.leftBottom {
    height: 40%;
    width: 50%;
    background-color: rgb(155, 127, 255);
}

.rightSide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.buttonContainer {
    height: 20%;
    width: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 20px;
}

.button {
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:active {
    transform: scale(0.95);
}

.button:hover p svg {
    stroke: #ffffff;
}

.button p svg {
    transition: all 0.2s ease;

}


.button2 {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-family: Basier Square, sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 50px;
    color: rgb(80, 80, 80);
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.button2:hover {

    color: rgb(0, 0, 0);
}

@media (max-width: 1300px) {
    .leftSide {
        width: 85%;
    }

    .headerText1 {
        font-size: 70px;

    }

    .text1Container {
        height: 80px;
    }

    .text2Container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text2RevealContainer {
        width: 100%;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textReveal {
        width: 100%;
        height: 100%;
        animation: showText 10s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
    }

    .headerText2 {
        font-size: 30px;
        text-align: left;
        line-height: 1.7;
    }

    .headerText2Aux {
        font-size: 30px;
        text-align: left;
        line-height: 1.7;
    }

    .text3Container {
        margin-top: 10px;
    }

    .headerText3 {
        font-size: 18px;
    }

}

@media (max-width: 800px) {

    .leftTop {
        margin-left: 0px;
    }

    .logoSpace {
        padding-left: 0px;
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 50px;


    }

    .logo {
        height: 25px;
        width: 25px;
        opacity: 0.9;
        cursor: pointer;

    }

    .leftSide {
        width: 100%;
    }

    .mainContainer {
        margin-top: 100px;
        width: 90%;
        height: 70%;
    }

    .pictureContainer {
        width: 100%;
        height: 20%;
        display: flex;

        align-items: center;
    }

    .pictureContainer {
        justify-content: center;

    }

    .img {
        margin-top: -50px;
        margin-left: 50px;
        height: 170px;
        width: 170px;

    }

    .text1Container {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerText1 {
        font-size: 70px;
    }

    .text2Container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text2RevealContainer {
        width: 100%;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textReveal {
        width: 100%;
        height: 100%;
        animation: showText 10s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
    }

    .headerText2 {
        font-size: 30px;
        text-align: center;
        line-height: 1.7;
    }

    .headerText2Aux {
        font-size: 30px;
        text-align: center;
        line-height: 1.7;
    }

    .headerText3Aux {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .text3Container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5px;
    }

    .headerText3 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        font-family: Basier Square, sans-serif;
        color: rgb(72, 72, 72);
        margin: 0;
        /* Quitar márgenes */
        padding: 0;
        line-height: 1.4;
    }


    .buttonContainer {
        height: 20%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .button {
        border-radius: 50px;
        background-color: transparent;
        border: 2px solid black;
        padding: 10px 20px 10px 20px;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        font-family: Basier Square, sans-serif;
        cursor: pointer;
        transition: all 0.2s ease;
        height: 50px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .headerText1 {
        font-size: 50px;
    }

    .text1Container {
        height: 60px;
    }

    .text2Container {
        height: 40px;
    }

    .text2RevealContainer {
        width: 100%;
        height: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerText2 {
        font-size: 25px;
        line-height: 1.6;
    }

    .headerText2Aux {
        font-size: 25px;
        text-align: center;
        line-height: 1.6;
    }

    .buttonContainer {
        flex-direction: column;
        margin-top: 30px;
    }

    .button2 {
        font-size: 15px;
    }
}

@media (max-width: 400px) {


    .headerText2Aux {
        font-size: 22px;
        text-align: center;
        line-height: 1.6;
    }

}