.giant {
    height: 90px;
    width: 90px;
    border-radius: 20px;
}

.large {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    user-select: none;
}

.medium {
    height: 50px;
    width: 50px;
    border-radius: 15px;

}

.small {
    height: 45px;
    width: 45px;
    border-radius: 15px;
}

.card {
    filter: brightness(80%) saturate(100%);
    transition: all 0.3s ease;
    /* box-shadow: rgba(0, 0, 0, 0.327) 0px 0px 10px 0px inset; */
}

.card:hover {
    filter: brightness(100%);

}

@media (max-width: 500px) {
    .large {
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }

    .medium {
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }

    .small {
        height: 35px;
        width: 35px;
        border-radius: 15px;
    }
}