.card {
    position: relative;
    height: 200px;
    width: 320px;
    background-color: rgb(20, 20, 20);
    border-top: 2px solid rgb(60, 60, 60);
    /* background-color: red; */
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    transform: translateZ(0), perspective(1px);
    perspective: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card ::selection {
    background-color: rgb(217, 217, 217);
}

.cardAux {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardAuxDeleted {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cardAuxDeleted>h1 {
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    color: rgb(249, 248, 251);
    font-size: 18px;
}

.cardAuxDeleted>button {
    cursor: pointer;
    width: 90px;
    background: white;
    height: 35px;
    border-radius: 10px;
    font-weight: 900;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    font-family: Basier Square;
    font-size: 18px;
    color: black;
    font-weight: 600;
    overflow: hidden;
}

.progressBarContainer {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    height: 5px;
    width: 100px;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    overflow: hidden;
    animation: progressBarContainer 10s ease-in-out;
    opacity: 0;
}

@keyframes progressBarContainer {
    0%, 100% {
        opacity: 0;
    }

    10%, 90% {
        opacity: 0.5;

    }
}

.progressBarContainer::after {
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgb(207, 207, 207);
    animation: progressBar 10s linear;
}

@keyframes progressBar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);

    }
}

@media (max-width: 500px) {
    .card {
        transform: scale(0.9);
    }
}

.cardSkeleton {
    position: relative;
    height: 200px;
    width: 320px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pin {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 12px;
    right: 0;
    transition: all 0.2s ease-in-out;
    fill: rgba(150, 150, 150, 0.2);
}

.deleteButton {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 40px;
    right: 0;
    transition: all 0.2s ease-in-out;
    fill: rgba(150, 150, 150, 0.2);
}

.pinned {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 12px;
    right: 0;
    transition: all 0.2s ease-in-out;
    fill: #7bffb4;
}

.pinnedTooltip {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.tooltipPin {
    margin-top: 80px;
    position: absolute;
    background-color: rgb(123, 255, 180);
    width: 150px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: default;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */
}

.tooltipPin::after {

    content: "";
    margin-top: -25px;
    position: absolute;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */

    background-color: rgb(123, 255, 180);
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 12px;
}

.header {
    padding-top: 5px;
    height: 30%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;

}

.photoContainer {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.imgEmpty {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    background-color: white;
}

.userData {
    width: 65%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;

}

.shadowLeft {
    position: absolute;
    top: 0;
    height: 25px;
    width: 10px;
    margin-left: 8px !important;
    left: 0%;
    z-index: 5;
    background-image: linear-gradient(to right, rgb(20, 20, 20), transparent);
}

.shadowRight {
    position: absolute;
    top: 0;
    height: 25px;
    height: 100%;
    width: 10px;
    margin-right: 15px;
    right: 0%;
    z-index: 5;
    background-image: linear-gradient(to left,  rgb(20, 20, 20), transparent);
}

.name {
    width: 90%;
    height: auto;
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    color: rgb(249, 248, 251);
    font-size: 18px;
    -webkit-box-orient: horizontal;
    word-break: break-word;
    white-space: nowrap;
    display: -webkit-box;
    align-items: center;
    overflow: hidden;
}

.nameAux {
    height: 100%;
    width: auto;
    display: flex;
    gap: 50px;
    animation: slideText 15s ease-in-out 2s infinite;

}

@keyframes slideText {
    0%, 15% {
        transform: translateX(0%);
    }

    85%, 100% {
        transform: translateX(-55%);

    }
}

.occupation {
    width: 90%;
    height: 33%;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(147, 147, 147);
    font-size: 13px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: word;
    text-overflow: ellipsis;

}

.placeOfWork {
    width: 90%;
    height: 25%;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(150, 150, 150);
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    word-break: word;
    text-overflow: ellipsis;
}

.siteLink {
    text-decoration: none;
    color: rgb(123, 255, 180);
}

.siteLink:hover {
    text-decoration: underline;

}

.singleIconContainer {
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}


.length2 {
    animation: length2 10s ease-in-out infinite;
}

@keyframes length2 {
    0%, 40% {
        transform: translateY(0);
    }

    50%, 90% {
        transform: translateY(-39px);
    }

    100% {
        transform: translateY(calc(-39px * 2));
    }
}

.length3 {
    animation: length3 15s ease-in-out infinite;
}

@keyframes length3 {
    0%, 27% {
        transform: translateY(0);
    }

    33%, 61% {
        transform: translateY(-39px);
    }

    66%, 95% {
        transform: translateY(calc(-39px * 2));
    }

    100% {
        transform: translateY(calc(-39px * 3));
    }
}


.length4 {
    animation: length4 20s ease-in-out infinite;

}


@keyframes length4 {
    0%, 20% {
        transform: translateY(0);
    }

    25%, 45% {
        transform: translateY(-39px);
    }

    50%, 70% {
        transform: translateY(calc(-39px * 2));
    }

    75%, 95% {
        transform: translateY(calc(-39px * 3));
    }

    100% {
        transform: translateY(calc(-39px * 4));
    }

}


.userLink {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


.tooltip {
    margin-top: -45px;
    position: absolute;
    background-color: rgb(48, 48, 48);
    width: 140px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(210, 210, 210);
    font-size: 15px;
    cursor: default;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */
}

.tooltip::after {

    content: "";
    margin-top: 25px;
    position: absolute;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */

    background-color: rgb(48, 48, 48);
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 12px;
}

.main {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.msgContainer {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.msg {
    padding: 0;
    margin: 0;
    width: calc(100% - 10px);
    font-family: Basier Square;
    font-weight: 500;
    color: rgba(225, 225, 225, 0.534);
    font-size: 16px;
    line-height: 25px;
    word-wrap: break-word;

}