.card {
    position: relative;
    height: 250px;
    width: 300px;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.9);box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card ::selection {
    background-color: rgb(217, 217, 217);
}

@media (max-width: 500px) {
    .card {
        transform: scale(0.9);
    }
}

.cardSkeleton {
    position: relative;
    height: 250px;
    width: 300px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.9);
}

.pin {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 12px;
    right: 0;
    transition: all 0.2s ease-in-out;
    fill: rgba(150, 150, 150, 0.2);

}

.pinned {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 12px;
    right: 0;
    transition: all 0.2s ease-in-out;
    fill: #7bffb4;
}

.pinnedTooltip {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.tooltipPin {
    margin-top: 80px;
    position: absolute;
    background-color: rgb(123, 255, 180);
    width: 150px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: default;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */
}

.tooltipPin::after {

    content: "";
    margin-top: -25px;
    position: absolute;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */

    background-color: rgb(123, 255, 180);
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 12px;
}

.header {
    padding-top: 5px;
    height: 30%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;

}

.photoContainer {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    object-fit: cover;
}

.userData {
    width: 65%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.name {
    width: 100%;
    height: 34%;
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    color: rgb(249, 248, 251);
    font-size: 20px;
    display: flex;
    align-items: center;
}

.occupation {
    width: 100%;
    height: 33%;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(147, 147, 147);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.placeOfWork {
    width: 100%;
    height: 25%;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(150, 150, 150);
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.siteLink {
    text-decoration: none;
    color: rgb(123, 255, 180);
}

.siteLink:hover {
    text-decoration: underline;

}

.singleIconContainer {
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}


.length2 {
    animation: length2 10s ease-in-out infinite;
}

@keyframes length2 {
    0%, 40% {
        transform: translateY(0);
    }

    50%, 90% {
        transform: translateY(-39px);
    }

    100% {
        transform: translateY(calc(-39px * 2));
    }
}

.length3 {
    animation: length3 15s ease-in-out infinite;
}

@keyframes length3 {
    0%, 27% {
        transform: translateY(0);
    }

    33%, 61% {
        transform: translateY(-39px);
    }

    66%, 95% {
        transform: translateY(calc(-39px * 2));
    }

    100% {
        transform: translateY(calc(-39px * 3));
    }
}


.length4 {
    animation: length4 20s ease-in-out infinite;

}


@keyframes length4 {
    0%, 20% {
        transform: translateY(0);
    }

    25%, 45% {
        transform: translateY(-39px);
    }

    50%, 70% {
        transform: translateY(calc(-39px * 2));
    }

    75%, 95% {
        transform: translateY(calc(-39px * 3));
    }

    100% {
        transform: translateY(calc(-39px * 4));
    }

}


.userLink {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


.tooltip {
    margin-top: -45px;
    position: absolute;
    background-color: rgb(48, 48, 48);
    width: 140px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Basier Square", sans-serif;
    font-weight: 600;
    color: rgb(210, 210, 210);
    font-size: 15px;
    cursor: default;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */
}

.tooltip::after {

    content: "";
    margin-top: 25px;
    position: absolute;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */

    background-color: rgb(48, 48, 48);
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 12px;
}

.main {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.msgContainer {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg {
    padding: 0;
    margin: 0;
    width: calc(100% - 10px);
    font-family: "arial", sans-serif;
    font-weight: 500;
    color: rgb(183, 183, 183);
    font-size: 18px;
    line-height: 25px;
    word-wrap: break-word;
}