.section5 {
    height: auto;
    width: 100dvw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    flex-direction: column;
}

.section5Aux {
    height: calc(380px);
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.text {
    height: 100%;
    width: 50%;
    gap: 20px;
    position: relative;
    background-color: black;
}


.text>p {
    padding: 20px;
    /* font-size: 80px; */
    font-size: 6dvw;

    font-family: unbounded;
    font-weight: 900;
    height: 100%;
    border-top-right-radius: 100px;
    background-color: white;
    user-select: none;
}

.text>button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 47px;
    margin-right: 50px;
    outline: 2px solid black;
}


.recommendations {
    height: 100%;
    width: calc(50%);
    border-radius: 0px 0px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    position: relative;
}



/* ----------------- UPPER SECTION -------------------- */
.upper {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: salmon; */
}

.inputStyle {
    height: calc(50px);
    border-radius: 9999px;
    width: 30%;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputStyleIcon {
    height: 100%;
    width: 80px;
    aspect-ratio: 1/1;
    background-color: rgb(52, 52, 52);
    border-radius: 9999px;
    color: rgb(131, 131, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 5px solid black;
}

.inputStyleText {
    color: rgb(154, 154, 154);
    padding-left: 20px;
    font-weight: 700;
    font-size: 17px;
    font-family: Basier Square;
}

/* ------------------------------------------------------------ */

/* -------------- MEDIUM SECTION ------------------------------ */
.medium {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.rightShadow {
    height: 100%;
    width: 200px;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, transparent, black);
    pointer-events: none
}

.cardContainer2 {

    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 10px 0px;
    position: relative;

}


.leftShadow {
    position: absolute;
    height: 85%;
    width: 50px;
    top: 0;
    background-image: linear-gradient(to right, black, transparent);
    left: 3%;
    z-index: 2;
    pointer-events: none
        /* background-color: red; */
}

.cardContainer2::-webkit-scrollbar {
    display: none;
}

.cardsTest {
    gap: 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

}

/* .slider:hover {
    animation-play-state: paused;
} */

.slider {
    animation: slider 40s linear infinite;


}

@keyframes slider {
    from {
        transform: translateX(-0%);
    }

    to {
        transform: translateX(calc(-50% - 15px));
    }
}


/* ------------------------------------------------------------------ */

/* ------------------- FOOTER SECTION -------------------------------- */

.footer {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}


.openModalButton {
    font-family: Basier Square;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 0.5rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.5s ease;
    position: relative;
    z-index: 2;
}

.openModalButton:hover {
    background-color: rgb(123, 255, 180);
}

.tooltipButton {
    margin-top: -100px;
    position: absolute;
    background-color: rgb(28, 28, 28);
    color: rgb(168, 168, 168);
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Basier Square", sans-serif;
    font-weight: 900;
    font-size: clamp(5px, 15px, 15px);

    cursor: default;
    padding: 5px 15px;
    /* box-shadow: 3px 3px 0px rgb(0, 0, 0); */
}

.tooltipButton::after {

    content: "";
    margin-top: 35px;
    position: absolute;
    background-color: rgb(28, 28, 28);
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 12px;
}

@media (max-width: 900px) {

    .text>button {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 20px 0px;
    }

    .openModalButton {
        font-size: 2dvw;
        height: 30px;
        padding: 20px 40px;
        white-space: nowrap;
        width: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
    }
}

@media (max-width: 600px) {
    .section5Aux {
        flex-direction: column;
        height: 500px;
    }

    .leftShadow {
        position: absolute;
        height: 90%;
        width: 50px;
        bottom: 0;
        top: auto;
        background-image: linear-gradient(to right, black, transparent);
        left: 3%;
        z-index: 2;
        pointer-events: none;
    }

    .rightShadow {
        height: 100%;
        width: 50px;
        position: absolute;
        right: 0;
        background-image: linear-gradient(to right, transparent, black);
        pointer-events: none;
    }

    .text {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text>p {
        text-align: center;
        height: calc(100%);
        padding-top: 10px;
        width: 100%;
        font-size: 6dvw;
        border-radius: 0px 0px 50px 0px;
    }

    .text>button {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 20px 0px;
    }

    .openModalButton {
        font-size: 15px;
        height: 30px;
        padding: 10px 30px;
        white-space: nowrap;
        width: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
    }

    .recommendations {
        height: 70%;
        width: 100%;
        border-radius: 50px 0px 0px 0px;
        background-color: black;
    }

    .slider {
        animation: slider 20s linear infinite;
    }
}

/* @media (min-width: 500px){
    .text>p {
        font-size: 5.5dvw;
    }
} */