.section5 {
    position: sticky;
    overflow-x: hidden;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}


.cardContainer {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}